:host {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 500px;
}

.info {
  display: flex;
  flex-direction: column;

}

.action {
  display: flex;
  flex-direction: row;
}

button, a {
  width: 100px;
  display: block;
  height: 40px;
}
